In [1]:
originData = sc.textFile("Amsterdam_tripadvisor.json")

In [2]:
originDistinctData = originData.distinct()

In [3]:
originDistinctData

PythonRDD[6] at RDD at PythonRDD.scala:48

In [4]:
type(originDistinctData)

pyspark.rdd.PipelinedRDD

In [5]:
originDistinctData.show()

AttributeError: 'PipelinedRDD' object has no attribute 'show'

In [6]:
df = spark.read.json("Amsterdam_tripadvisor.json")

In [7]:
df.show()

+--------------------+-------------+--------------------+--------------------+----------+--------------------+--------------------+-----+--------------------+--------------------+---------------+
|                 _id|         date|       hotelLocation|           hotelName|hotelStars|            hotelUrl|              review|score|               title|                 url|         userId|
+--------------------+-------------+--------------------+--------------------+----------+--------------------+--------------------+-----+--------------------+--------------------+---------------+
|[595ce6de9b1f2640...| July 4, 2017|Weteringschans 25...| The Amsterdam Ca...|       4.0|https://www.tripa...|
Almost in the ci...|  5.0|Nice small hotel ...|https://www.tripa...|       Kestas G|
|[595ce6de9b1f2640...|June 16, 2017|Weteringschans 25...| The Amsterdam Ca...|       4.0|https://www.tripa...|
The location of ...|  3.0|Nice, but some di...|https://www.tripa...|       Alison D|
|[595ce6de9b1f2640...|June 11, 2017|Weteringschans 25...| The Amsterdam Ca...|       4.0|https://www.tripa...|
Fantastic Staff,...|  5.0|Very Cozy and Rom...|https://www.tripa...|          Per P|
|[595ce6de9b1f2640...|June 17, 2017|Weteringschans 25...| The Amsterdam Ca...|       4.0|https://www.tripa...|
We spent 5 days ...|  5.0|A Real Dutch Expe...|https://www.tripa...|       Gupta-MF|
|[595ce6de9b1f2640...|June 21, 2017|IJDok 6, 1013 MM ...|   Room Mate Aitana |       4.0|https://www.tripa...|
I have stayed in...|  5.0|    Spectacular View|https://www.tripa...|        66Frodo|
|[595ce6de9b1f2640...| July 2, 2017|Nieuwezijds Voorb...| Kimpton De Witt ...|       4.0|https://www.tripa...|
What a fabulous ...|  5.0|        Just perfect|https://www.tripa...|  LUXETrave11er|
|[595ce6de9b1f2640...|June 30, 2017|Nieuwezijds Voorb...| Kimpton De Witt ...|       4.0|https://www.tripa...|
I have recently ...|  5.0|Possibly the nice...|https://www.tripa...|      PhilipSeb|
|[595ce6df9b1f2640...| July 3, 2017|Nieuwezijds Voorb...| Kimpton De Witt ...|       4.0|https://www.tripa...|
We stayed at thi...|  5.0|  Highly recommended|https://www.tripa...|        Jaded07|
|[595ce6df9b1f2640...| July 2, 2017|Nieuwezijds Voorb...| Kimpton De Witt ...|       4.0|https://www.tripa...|
We stayed at the...|  4.0|A beautiful hotel...|https://www.tripa...|       SophiaVb|
|[595ce6df9b1f2640...| July 2, 2017|Nieuwezijds Voorb...| Kimpton De Witt ...|       4.0|https://www.tripa...|
We had only 2 ni...|  5.0|           Top Notch|https://www.tripa...|SpicedGoudaGirl|
|[595ce6df9b1f2640...|June 22, 2017|Bellamyplein 47, ...|    Hotel De Hallen |       4.0|https://www.tripa...|
Just back from a...|  4.0|     A great find...|https://www.tripa...|        Niamh R|
|[595ce6df9b1f2640...|June 18, 2017|Raadhuisstraat 39...|      Clemens Hotel |       2.0|https://www.tripa...|
Location was clo...|  4.0|     Great location!|https://www.tripa...|        Nadia T|
|[595ce6df9b1f2640...|June 26, 2017|Nes 49, 1012 KD A...|   Hotel V Nesplein |       4.0|https://www.tripa...|
The Hotel V Nesp...|  2.0|Beautiful hotel, ...|https://www.tripa...|      Stephen L|
|[595ce6df9b1f2640...| July 1, 2017|Oudezijds Voorbur...| Sofitel Legend T...|       5.0|https://www.tripa...|
We had a great t...|  5.0|             My Trip|https://www.tripa...|      Sepideh T|
|[595ce6df9b1f2640...| July 2, 2017|Oudezijds Voorbur...| Sofitel Legend T...|       5.0|https://www.tripa...|
We spent 5 night...|  5.0|Beautiful hotel, ...|https://www.tripa...|       Joanne C|
|[595ce6df9b1f2640...| June 1, 2017|Oudezijds Voorbur...| Sofitel Legend T...|       5.0|https://www.tripa...|
My wife and I st...|  5.0|      Fantastic Stay|https://www.tripa...|        James H|
|[595ce6df9b1f2640...| July 4, 2017|Oudezijds Voorbur...| Sofitel Legend T...|       5.0|https://www.tripa...|
Nice stay at The...|  4.0|Nice stay at The ...|https://www.tripa...| Natlovestravel|
|[595ce6df9b1f2640...| July 4, 2017|Oudezijds Voorbur...| Sofitel Legend T...|       5.0|https://www.tripa...|
Stayed at the So...|  5.0|Second time just ...|https://www.tripa...|      CoralReef|
|[595ce6df9b1f2640...|June 27, 2017|Nieuwe Doelenstra...| De L'Europe Amst...|       5.0|https://www.tripa...|
The hotel is per...|  5.0|  Wonderful location|https://www.tripa...|      Nichole S|
|[595ce6df9b1f2640...|June 21, 2017|Nieuwe Doelenstra...| De L'Europe Amst...|       5.0|https://www.tripa...|
i stayed 3 night...|  5.0|excellent staff a...|https://www.tripa...|      armagh222|
+--------------------+-------------+--------------------+--------------------+----------+--------------------+--------------------+-----+--------------------+--------------------+---------------+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- $oid: string (nullable = true)
 |-- date: string (nullable = true)
 |-- hotelLocation: string (nullable = true)
 |-- hotelName: string (nullable = true)
 |-- hotelStars: string (nullable = true)
 |-- hotelUrl: string (nullable = true)
 |-- review: string (nullable = true)
 |-- score: double (nullable = true)
 |-- title: string (nullable = true)
 |-- url: string (nullable = true)
 |-- userId: string (nullable = true)

In [9]:
df.select("review").show()

+--------------------+
|              review|
+--------------------+
|
Almost in the ci...|
|
The location of ...|
|
Fantastic Staff,...|
|
We spent 5 days ...|
|
I have stayed in...|
|
What a fabulous ...|
|
I have recently ...|
|
We stayed at thi...|
|
We stayed at the...|
|
We had only 2 ni...|
|
Just back from a...|
|
Location was clo...|
|
The Hotel V Nesp...|
|
We had a great t...|
|
We spent 5 night...|
|
My wife and I st...|
|
Nice stay at The...|
|
Stayed at the So...|
|
The hotel is per...|
|
i stayed 3 night...|
+--------------------+
only showing top 20 rows

count the number of hotels in city - Amsterdam, each hotel has its own unique hotelurl,
E denote a finite set of hotels

In [10]:
E = df.select("hotelUrl").distinct().count()

In [11]:
E

356

calculate covering time period for reviews, T = [ts, te], respectively ts for time start and te for time end

In [12]:
dateReviews = df.select("date")

In [22]:
from datetime import datetime

In [29]:
datetime_object = datetime.strptime("July 4, 2017", "%B %d, %Y").date()

In [34]:
datetime_object2 = datetime.strptime("July 4, 2017", "%B %d, %Y").date()

In [35]:
datetime_object == datetime_object2

True

In [37]:
type(df)

pyspark.sql.dataframe.DataFrame

In [38]:
data = df.rdd

In [39]:
type(data)

pyspark.rdd.RDD

In [40]:
data.first()

Row(_id=Row($oid=u'595ce6de9b1f26407bd9dfe7'), date=u'July 4, 2017', hotelLocation=u'Weteringschans 253, 1017 XJ Amsterdam, The Netherlands', hotelName=u' The Amsterdam Canal Hotel ', hotelStars=u'4.0', hotelUrl=u'https://www.tripadvisor.com/Hotel_Review-g188590-d3935747-Reviews-The_Amsterdam_Canal_Hotel-Amsterdam_North_Holland_Province.html', review=u'\nAlmost in the city centre, and very quite, at the same time. Romantic view from the window (channel side room!). Very tasty, fresh and complete breakfast! Friendly staff. We would come here again:)', score=5.0, title=u'Nice small hotel in excellent place', url=u'https://www.tripadvisor.com/ShowUserReviews-g188590-d3935747-r498510542-The_Amsterdam_Canal_Hotel-Amsterdam_North_Holland_Province.html', userId=u'Kestas G')

In [42]:
df.select("url").distinct().count()

1751

In [45]:
import time
ts = data.first()["date"]
te = data.first()["date"]

In [46]:
def convertTimeDate(x):
    ts = min(ts, datetime.striptime(x["date"], "%B %d, %Y").date())
    te = max(te, datetime.striptime(x["date"], "%B %d, %Y").date())

In [47]:
data.map(convertTimeDate)

PythonRDD[51] at RDD at PythonRDD.scala:48

In [48]:
ts

u'July 4, 2017'

In [49]:
te

u'July 4, 2017'